In [4]:
# Understanding variables in Python
# Rules for declaring varibales in Python:
1. No name spaces while declaring the variabes name:

Ex:

SyntaxError: invalid syntax (357231412.py, line 3)

In [2]:
x = 3

y = 2

In [3]:
x+y

5

In [5]:
# Understanding variables in Python
# Rules for declaring varibales in Python:
Rule 01. No name spaces while declaring the variabes name:

Ex:

SyntaxError: invalid syntax (357231412.py, line 3)

In [6]:
first name = 'Towfik' # Here space has given to the name therefore it will throw error. 

print (first name)

SyntaxError: invalid syntax (3899987148.py, line 1)

In [7]:
firstname = 'Towfik' # No space has given therefore printed the name. Also, '_' is acceptable in when declaring a variable.

print(firstname)

Towfik

In [8]:
#Rule 02: A variable name shouldn't start with a number but it can have number at the end or anywhere in between.
#Ex:

In [9]:
1name = 'Towfik' # Invalid as there shouldn't be any number in the beginning of a variable

print(1name)

SyntaxError: invalid syntax (3467051815.py, line 1)

In [10]:
name1 = 'towfik'# not invalid variable because it can have number at the end or anywhere in between.

print(name1)

towfik

In [11]:
#Rule 03: A variable name should not have any special characters in it except '_'.
#Ex:

In [12]:
name1@ = 'towfik'

print(name1@)

SyntaxError: invalid syntax (1619672156.py, line 1)

In [13]:
# Note: '#' is used for commenting the lines in python

In [ ]:
Introduction to Datatypes in python

In [ ]:
1. string
2. number --> integer and floats(decimals)
3. List
4. tuple 
5. dictionaries

In [ ]:
Classifictions of datatypes: There are 2 different categories.
    1. Mutable datatype: It is flexible which we can alter and edit.
    2  Immutable datatype: It is not flexible, but fixed.

In [ ]:
Introduction to String datatype

In [ ]:
Def: A string is a series of a characters declared in quotes.
Classification: It is classified as immutable datatypes
How to declare the string datatype: There are 3 approches
    1. single quote
    2. double quote
    3. triple quote

In [17]:
nameX = 'faiyaz' #single quote

print (nameX)

faiyaz

In [18]:
name2 = "nandini" # double quote

print(name2)

nandini

In [19]:
name_1 = """towfik""" # tripple quote

print(name_1)

towfik