In [ ]:
Introduction to list data type:

In [ ]:
def: A list is a collection of items defined is a particular order.
    
Classification: It is classified as a mutable(can edit/alter) data type

In [ ]:
How to declare/define the list --> []

In [14]:
students = ['faiyaz','nihar','kumar','abdul','kiran']

In [15]:
print(students)

['faiyaz', 'nihar', 'kumar', 'abdul', 'kiran']

In [ ]:
#How to verify datatype

In [16]:
type(students)

list

In [ ]:
Introduction to indexing: It starts from 0,1,2,3.....n

In [ ]:
# How to access the elements from the list?

In [ ]:
Req: From bottom whats the index number of 'kumar'?
    'faiyaz','nihar','kumar','abdul','kiran'
    Ans: 2 because indexing start from 0, not 1

In [17]:
print(students[2])

kumar

In [18]:
print(students[2].title())

Kumar

In [ ]:
# how to printout'Faiyaz' from the list?

In [19]:
print(students[0].title())

Faiyaz

In [ ]:
1. How to add new elements to the list? 
2. How to modify the elements in the list?
3. How to delete the elements in the list?

In [ ]:
Ex 1: How to add sradda to the list?

In [23]:
students.append('sradda') # 'Append is used to add a element to a existing list and its added to the last in the list'

In [24]:
print(students)

['faiyaz', 'nihar', 'kumar', 'abdul', 'kiran', 'sradda']

In [ ]:
# How to add 'hamed' to the 2nd position in the list

In [25]:
students.insert(2,'hamed')

In [26]:
print(students)

['faiyaz', 'nihar', 'hamed', 'kumar', 'abdul', 'kiran', 'sradda']

In [ ]:
Intv. Question: What is the diff. between append and insert method in a list?

In [ ]:
Ex 2: How to modify nihar to uddin

In [27]:
students[1] ='uddin'

In [31]:
print(students)

['faiyaz', 'uddin', 'hamed', 'kumar', 'abdul', 'kiran', 'sradda']

In [32]:
print(students[1])

uddin

In [ ]:
Ex 3: How to delete

In [34]:
print(students)

['faiyaz', 'uddin', 'hamed', 'kumar', 'abdul', 'kiran', 'sradda']

In [35]:
print(students[2])

hamed

In [38]:
del (students[2])

In [39]:
print(students)

['faiyaz', 'uddin', 'kumar', 'abdul', 'kiran', 'sradda']

In [40]:
print(students[2]) # Hamed is deleted using del method, therefore kumar is coming up in a second positon now

kumar