In [ ]:
Continuation with List Datatype:

In [ ]:
Organizing the list datatype:

In [15]:
cars = ['benz','audi','bmw','tesla','ciaz','toyota']

In [16]:
print(cars)

['benz', 'audi', 'bmw', 'tesla', 'ciaz', 'toyota']

In [17]:
type(cars)

list

In [ ]:
#Req: How to printout the above car list in alphabetical order?

In [ ]:
There are two approaches:
    temp approach --> sorted ==> We can get the original order
    permanent approach --> sort. ==> changes are applied permanently

In [18]:
print(sorted(cars)) # 'sorted' is used here to print out alphabatetical order.

['audi', 'benz', 'bmw', 'ciaz', 'tesla', 'toyota']

In [19]:
print(cars) # original order is printed as 'sorted' is not used here

['benz', 'audi', 'bmw', 'tesla', 'ciaz', 'toyota']

In [20]:
cars.sort() # 'sort' is used for permanent change

In [21]:
print(cars) # once 'sort' is used to printout, the changes are permanent, not possible to change order.

['audi', 'benz', 'bmw', 'ciaz', 'tesla', 'toyota']

In [ ]:
INT QUESTIONS: What's the diff. between sorted and sort method in a List Datatype.

In [ ]:
REQ: How to printout data in the reverse order?

In [22]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'tesla', 'toyota']

In [23]:
cars.reverse() # to printout in the reverse order

In [24]:
print(cars)

['toyota', 'tesla', 'ciaz', 'bmw', 'benz', 'audi']

In [ ]:
REQ: How to printout no. of elements or count of elements in the list?

In [25]:
len(cars)

6

In [ ]:
## INTRODUCTION TO SLICING OF LISTS

In [30]:
students = ['sim','fayiaz','anika','bilal','chatni','chadni']

In [31]:
print(students)

['sim', 'fayiaz', 'anika', 'bilal', 'chatni', 'chadni']

In [ ]:
#General syntax of slicing:

In [ ]:
[startvalue:stopvalue:stepcount]

In [ ]:
Note: 1. Stopvalue is always exclusive and will not be considered in the slice

In [ ]:
2. To conclude the stopvalue, increment the index by ''+1'

In [ ]:
#REQ: How to printout sim and faiyaz in the slice

In [32]:
print(students[0:1]) # only to printout firstname

['sim']

In [33]:
print(students[0:2]) # to printout both names in the first slice

['sim', 'fayiaz']

In [34]:
print(students[2:4]) # to print out anika and bilal

['anika', 'bilal']

In [35]:
print(students[4:6])

['chatni', 'chadni']

In [36]:
print(students)

['sim', 'fayiaz', 'anika', 'bilal', 'chatni', 'chadni']

In [39]:
print(students[0:6:2]) # This is for stepcount but i didn't quite get it. Would you please explain again some other time.

['sim', 'anika', 'chatni']